.languageTitle {
    text-align: center;
    margin-top: 0;
    padding-top: 4%;
    font-size: 100px;
    color: white;

}

.languageList {
    justify-content: center;
    padding: 1% 200px 0 200px;
    display: flex;
    flex-wrap: wrap;
}

.languageListElement {
    /*border: 2px solid #f64242;*/
    text-align: center;
    font-size: 40px;
    font-family: Spotify, sans-serif;
    color: white;
    margin: 10px 10px 10px 10px;
    background-color: #565252;
    padding: 50px 25px 50px 25px;
    border-radius: 3%;
    cursor: pointer;
    width: calc(20%)
}

.languageListElement:hover {
    background-color: #3f3c3c;
}

.languageListElement:active {
    background-color: rgba(255, 0, 0, 0.67);
}
