.title-wrapper {
    display: grid;
    grid-template-columns: repeat(3, 5fr);
    grid-gap: 10px;
    margin-top: 0.7%;
    align-items: center;
}

@keyframes animate {
    0% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-10px);
    }
    100% {
        transform: translateY(0);
    }
}

.songTitle {
    text-align: center;
    font-size: 50px;
}

.songTitle:hover {
    animation: animate .5s infinite;
}

.timer{
    margin-left: 22%;
    /*margin-top: 1.5%;*/
}

.lyricsWrapper {
    display: grid;
    grid-template-columns: repeat(2, 5fr);
    grid-gap: 5%;
    margin-top: 4%;
    font-size: 200%;
}

.originalLyrics {
    text-align: right;
    display: grid;
    grid-template-rows: repeat(3, 200px);
    align-items: center;
}

.translatedLyrics {
    text-align: left;
    display: grid;
    grid-template-rows: repeat(3, 200px);
    align-items: center;
}

.prevPrevLine {
    opacity: 0.5;
}

/* Style for the lines */
.prevPrevLine, .prevLine, .currLine {
    /* Add other styles if needed */
    margin-top: 25px;
    margin-bottom: 25px;
}

.prevPrevLine:hover{

}

.prevLine:hover{

}

.currLine:hover{
    
}